@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    display: flex; /* make the body element a flex container */
    justify-content: center; /* horizontally center the content */
    align-items: center; /* vertically center the content */
    /* background-color: rgb(164, 162, 168); */
    /*  */
   
    background-color: rgb(20, 19, 44);
}



.login-page{
    height: 300px;
    width: 450px;
    
    /* border: 2px solid yellow; */
  
    background-color: rgb(69, 69, 78);
    margin-top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 15px rgb(24, 6, 27);
}
#login-title-text{
    text-align: center;
    margin-top: 5px;
    color: chartreuse;
}
#login-btn{
    width: 250px;
    margin-top: 20px;
}
.profile-page{
    width: 1000px;
    height: 600px;
    background-image: linear-gradient(to bottom, #210d35, #2d1b50, #372b6c, #3d3c8b, #3e4fac, #7855bd, #ac58c8, #de5acc, #ff599e, #ff8463, #ffc222, #f8fe11);
    /* background-color: aqua; */
   
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile-background{
    height: 200px;
    width: 1000px;
    background-image: url('gaming.jpg');
    text-align: center;
    color: yellow;
    font-family: 'Bruno Ace SC', cursive;
}
.image-container{
    height: 190px;
    width: 190px;
    background-color: rgb(11, 192, 247);
  
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    border: 2px solid whitesmoke;
}
.image-container-second{
    height: 180px;
    width: 180px;
    background-color: rgb(54, 25, 182);
    
    border-radius: 50%;
    position:absolute;
    bottom: 5px;
    left: 5px;
}
#image{
    height: 170px;
    width: 170px;
   
}
#user-name{
    position: relative;
    bottom: 150px;
    left: 250px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: black;
}
.user-details{
    height: 220px;
    width: 900px;
    background-image: url('game.jpg');
    font-size: large;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 60px;
    line-height: 30px;
    color: white;
}
p{
    position: relative;
    left: 180px;
    
    font-family: 'Inter', sans-serif;
}
#logout-btn{
    padding: 10px;
    width: 100px;
    /* background-color: green; */
    border: none;
    position: relative;
    right: 400px;
    bottom: 20px;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
 background-color: #000000;
}
#logout-btn:hover{
    background-color: red;
}
